# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración local de VS Code (descomentar si no quieres compartir configuraciones de usuario)
.vscode/settings.json